<div>
    <h1 class= "w3-animate-opacity">All Concert Halls</h1>
</div>
<ul class="w3-ul w3-hoverable">
    <% @concert_halls.sorted_by_name&.each do |hall| %>
        <li><%= link_to hall.name, concert_hall_path(hall) %> | Location: <%= hall.location %></li>
    <% end %>
</ul>